<li class="nav-item">
    <a class="nav-link {% if page_title=='Welcome to First4Aid' %}active{% endif %}" aria-current="page" href="{% if page_title=='Welcome to First4Aid' %}#{% else %}/{% endif %}">Home</a>
</li>